body {
    font-family: "Segoe UI";
    background-color: linen;
}

.center {
    margin: auto;
    align-content: center;
    text-align: center;
}

h1 {
    font-size: x-large;
}

table {
    border-radius: 5px;
    padding: 4px;
    border-style: groove;
    background: lightblue;
}

td {
    text-align: center;
    border-collapse: collapse;
    height: 50px;
    width: 50px;
    margin: 0;
    padding: 0;
}

#display {
    font-family: 'Segment7Standard';
    color: #696969;
    border-style: inset;
    padding-right: 10px;
    text-align: right;
    width: 205px;
    height: 50px;
    font-size: xx-large;
    margin-bottom: 10px;
}

input[type=button] {
    border-radius: 5px;
    border-style: ridge;
    font-size: x-large;
    height: 50px;
    width: 50px;
}

.function {
    background-color: orangered;
}
.function:hover {
    background-color: #eb4300;
}

.operation {
    background-color: orange;
}
.operation:hover {
    background-color: #eb9200;
}

.input {
    background-color: lightgray;
}
.input:hover {
    background-color: #bfbfbf;
}

input[name=equal] {
    background-color: yellowgreen;
}
input[name=equal]:hover {
    background-color: #8fc333;
}

footer {
    margin-top: 50px;
    font-size: small;
}